@if (User.Identity is { IsAuthenticated: true })
{
    <div>
        <div>
            <a>Logout</a>
        </div>
    </div>
}
else
{
    <div>
        <div>
            <a>Login</a>
        </div>
    </div>
}