@using System.Security.Claims
@using JobFairManagementSystem.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context;
@{
    var uid = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = Context.Users.Include(u => u.Notifications).Single(u => u.Id == uid);
    var role = (await UserManager.GetRolesAsync(user))[0];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobFairManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobFairManagementSystem.styles.css" asp-append-version="true" />
    <style>
        .mynav-bg{
            background-color: #D2E0FB;
        }
    </style>
</head>
<body>
    <div class="d-flex flex-nowrap">
        <div class="d-flex flex-column mynav-bg p-3 position-fixed min-vh-100" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="~/img/Asset 4.png" height="60px" alt="Logo" />
            </a>
            <hr>
            @switch (role)
            {
                case UserRoles.AdminRole:
                    <partial name="_AdminOptPartial" model="user" />
                    break;
                case UserRoles.CompanyRole:
                    <partial name="_CompanyOptPartial" model="user" />
                    break;
                case UserRoles.CandidateRole:
                    <partial name="_CandidateOptPartial" model="user" />
                    break;
            }

            <hr>

            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a asp-controller="Account" asp-action="Logout" class="dropdown-item">Sign out</a></li>
                </ul>
            </div>
        </div>

        <div class="py-4 w-100" style="margin-left: 280px;">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>