@model Company
@{
    ViewData["Title"] = "Home Page";
    Layout = "_CompanySideBar";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CareerConnect</h1>
    <h1>Job Fair'25</h1>


    <div>
        <h3>I'm a</h3>
        <div class="row g-3">
            <div class="col-4">
                <a asp-controller="Company" asp-action="Index" class="btn btn-primary w-100 h-100">Company</a>
            </div>
            <div class="col-4">
                <a asp-controller="Company" asp-action="Index" class="btn btn-primary w-100 h-100">Student</a>
            </div>
            <div class="col-4">
                <a asp-controller="Company" asp-action="Index" class="btn btn-primary w-100 h-100">Administrator</a>
            </div>
        </div>
    </div>
</div>
