@using JobFairManagementSystem.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.IdentityModel.Tokens
@inject ApplicationDbContext Context
@{
    ViewBag.Title = "Our Feedback";
    Layout = "_SideBarLayout";
    var uid = User.Identity.Name;
    ViewBag.active = 7;
}

<h2>Feedback</h2>


<div>
    @foreach (var feedback in Context.Feedbacks
                  .Include(feedback => feedback.FromUser)
                  .Include(feedback => feedback.ToUser)
                  .ToList().FindAll(f => f.ToUserId == User.Identity.Name))
    {
        <div class="card m-3">
            <h5 class="card-header">Feedback</h5>
            <div class="card-body">
                <h3 class="card-title">@feedback.Message</h3>
                <footer class="blockquote-footer mt-3">@(feedback.FromUser == null ? "Anonymous" : feedback.FromUser.Name) - @feedback.ToUser.Name</footer>
            </div>
        </div>
    }
    
    @if (Context.Feedbacks
         .Include(feedback => feedback.FromUser)
         .Include(feedback => feedback.ToUser)
         .ToList().FindAll(f => f.ToUserId == User.Identity.Name).IsNullOrEmpty())
    {
        <h3 class="text-warning">No Feedback Given Yet</h3>
    }
</div>